{name, "erlzmq"}.
{authors, ["Yurii Rashkovskii <yrashk@gmail.com>", "Evax Software <contact@evax.fr>"]}.
{description, "Erlang bindings for ZeroMQ messaging"}.
{homepage, "https://github.com/zeromq/erlzmq2"}.
{license, "MIT", "LICENSE"}.
{url, {git, "https://github.com/zeromq/erlzmq2.git", {branch, "master"}}}. 
{applications, [erlzmq]}.
{build_command, "make"}.
