{name, "erlzmq"}.
{authors, ["Dhammika Pathirana <dhammika at gmail dot com>","Serge Aleynikov <saleyn at gmail dot com>","Chris Rempel <csrl at gmx dot com>"]}.
{description, "Erlang bindings for ZeroMQ messaging"}.
{homepage, "https://github.com/zeromq/erlzmq"}.
{license, "BSD", "LICENSE"}.
{url, 
 {all,
  [{"zeromq2", {git, "https://github.com/zeromq/zeromq2.git", {branch, "master"}}},
   {"erlzmq", {git, "https://github.com/csrl/erlzmq.git", {branch, "master"}}}]}}.
{applications, [zmq]}.
{build_command, "$AGNER_PACKAGE_REPO/build.sh"}.
